<template name="appContainerTemplate">
    {{> navbarHeader }}

    <div id="appLayoutPanel" class="fullheight padded">
        {{#isolate}}
            {{renderPage}}
        {{/isolate}}
    </div>
    {{> navbarFooter }}
    <div class="hidden resize-trigger">resized: {{resized}}</div>
</template>

<template name="navbarHeader">

    <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
        <div class="container">
            <a class="navbar-brand" style="max-width: 500px;" href="/">Yet Another Open Dictionary</a>
            <!--<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">A</button>-->
            <!--<div class="nav-collapse collapse bs-navbar-collapse">-->
            <!--</div>-->
        </div>
    </div>
</template>

<template name="navbarFooter">
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="centered container">
            {{#if isVisible }}
                <!--<ul class="nav navbar-nav">-->
                    <!--<li class="view-button"><a href="">Vew</a></li>-->
                    <!--<li class="new-button"><a href="">New</a></li>-->
                    <!--<li class="edit-button"><a href="">Edit</a></li>-->
                    <!--<li class="delete-button"><a href="">Delete</a></li>-->
                <!--</ul>-->
            {{/if}}
        </div>
    </div>
</template>

